$font-size: 20px;

body {
  background: #f2f2f2;
  height: 100%;
}

.wrapper {
  display: block;
  width: 420px;
  padding: 15px 10px 4px;
  margin: 50px auto 0 auto;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  background: white;
}

.no_focus {
  &:focus {
    outline: none;
  }
}

.input {
  composes: no_focus;
  display: block;
  width: 94%;
  text-align: right;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  color: #333;
  height: 45px;
  font-size: $font-size;
  padding: 0 11px 0 5px;
}

.key_pad {
  margin: 15px 0 0 0;
  width: 100%;
}

.base_key {
  composes: no_focus;
  width: 18%;
  margin: 0 1% 0;
  display: inline-block;
}


.equal_key_wrap {
  composes: base_key;
  position: relative;
  height: 29px;
}
